In [4]:
import os

In [34]:
import zipfile
zip_path='archive (2).zip'
with zipfile.ZipFile(zip_path,'r')as zip_ref:
    zip_ref.extractall(".")

In [42]:
os.listdir()

['.ipynb_checkpoints',
 'archive (2).zip',
 'Mall_Customers.csv',
 'Untitled.ipynb']

In [46]:
import numpy as np
import pandas as pd

In [130]:
df=pd.read_csv('Mall_Customers.csv')
print(df.head())

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [132]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [76]:
df['Genre']=df['Genre'].str.strip().str.lower()

In [144]:
df.columns=(
df.columns
.str.strip()
.str.lower()
.str.replace(' ','_')
.str.replace('(', '', regex=False)
.str.replace(')', '', regex=False)
.str.replace('$', '', regex=False)
)

In [90]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    male   19                  15                      39
1           2    male   21                  15                      81
2           3  female   20                  16                       6
3           4  female   23                  16                      77
4           5  female   31                  17                      40

In [148]:
print(df.columns.tolist())

['customerid', 'genre', 'age', 'annual_income_k', 'spending_score_1-100']

In [154]:
df.duplicated().sum()

0

In [160]:
print("Final shape:",df.shape)

Final shape: (200, 5)

In [162]:
df.to_csv('cleaned_mall_customers.csv',index=False)